<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>叮咚</title>
  <style>
    body{
      background-color: #F2F2F2;
    }
  </style>
<link href="../static/css/views/area.9af495b2669421cba65bd05730052a70.css?e852bec41289a4dfb620" rel="stylesheet"></head>
<body>
<div id="app"></div>
<script type="text/javascript" src="../dll/vendor_19c6b455e34c8487c7b4.js"></script><script type="text/javascript" src="../static/js/manifest.9b0bb778e2656789ba1e.js?e852bec41289a4dfb620"></script><script type="text/javascript" src="../static/js/vendor.aca3246bd2981acaf032.js?e852bec41289a4dfb620"></script><script type="text/javascript" src="../static/js/views/area.e83656b663ec75ecedf4.js?e852bec41289a4dfb620"></script></body>
</html>
