<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>叮咚</title>
    <style>
      body{
        background-color: #F2F2F2;
      }
    </style>
  <link href="../static/css/views/index.3e0bf679fadd7f51d235a6c42ec69b8c.css?4ebfea1ab927d93e5162" rel="stylesheet"></head>
  <body>
    <div id="app"></div>
  <script type="text/javascript" src="../dll/vendor_19c6b455e34c8487c7b4.js"></script><script type="text/javascript" src="../static/js/manifest.d48f887011d4f034e4b2.js?4ebfea1ab927d93e5162"></script><script type="text/javascript" src="../static/js/vendor.aca3246bd2981acaf032.js?4ebfea1ab927d93e5162"></script><script type="text/javascript" src="../static/js/views/index.d2bbdae8c98cf4ba1d33.js?4ebfea1ab927d93e5162"></script></body>
</html>
