<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>info</title>
  <link href="../static/css/views/info.dca7953b2cc2225f343492d2e99fbd8c.css?4ebfea1ab927d93e5162" rel="stylesheet"></head>
  <body>
    <div id="app"></div>
  <script type="text/javascript" src="../dll/vendor_19c6b455e34c8487c7b4.js"></script><script type="text/javascript" src="../static/js/manifest.d48f887011d4f034e4b2.js?4ebfea1ab927d93e5162"></script><script type="text/javascript" src="../static/js/vendor.aca3246bd2981acaf032.js?4ebfea1ab927d93e5162"></script><script type="text/javascript" src="../static/js/views/info.b6b432b62644e92e3984.js?4ebfea1ab927d93e5162"></script></body>
</html>
