<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>info</title>
  <link href="../static/css/views/info.dca7953b2cc2225f343492d2e99fbd8c.css?e852bec41289a4dfb620" rel="stylesheet"></head>
  <body>
    <div id="app"></div>
  <script type="text/javascript" src="../dll/vendor_19c6b455e34c8487c7b4.js"></script><script type="text/javascript" src="../static/js/manifest.9b0bb778e2656789ba1e.js?e852bec41289a4dfb620"></script><script type="text/javascript" src="../static/js/vendor.aca3246bd2981acaf032.js?e852bec41289a4dfb620"></script><script type="text/javascript" src="../static/js/views/info.6d0dad745baf65aa0aa8.js?e852bec41289a4dfb620"></script></body>
</html>
